<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Pago Vuelo</title>
</head>

<body>
    <div class="container">
        <center>
            <div class="col-lg-6 order-2 order-lg-1 p-5">
                <form action="#" class="credit-card-div">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row ">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Numero de Tarjeta" />
                                </div>
                            </div>
                            <br>
                            <div class="row ">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font"> Mes</span>
                                    <input type="text" class="form-control" placeholder="MM" />
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font"> Año</span>
                                    <input type="text" class="form-control" placeholder="YY" />
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font"> CCV</span>
                                    <input type="text" class="form-control" placeholder="CCV" />
                                </div>
                            </div>
                            <br>
                            <div class="row ">
                                <div class="col-md-12 pad-adjust">

                                    <input type="text" class="form-control" placeholder="Nombre del Propetario" />
                                </div>
                            </div><br>
                            <div class="row ">
                                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                    <a href="../Vuelos" style="color: black;" class="btn btn-info btn-md">Cancelar</a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                    <a href="../VuelosRealizados" style="color: black;" class="btn btn-info btn-md">Pagar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </center>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>