<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Vuelos Realizados</title>
</head>

<body>
    <!-- Responsive navbar, CON LAS DIFERENTES SUBPAGINAS PARA QUE REDIRECCIONE-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #047cfc;">
        <div class="container px-5">
            <h3>
                <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='img/logo.png')}}" width="80px" height="50px">Mega Travel</a>
            </h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <h5>
                        <li class="nav-item"><a class="nav-link " href="../Vuelos">Vuelos</a></li>
                    </h5>
                    <h5>
                        <li class="nav-item"><a class="nav-link active" href="../VuelosRealizados">Vuelos Realizados</a></li>
                    </h5>
                    <h5>
                        <li class="nav-item"><a class="nav-link " href="/PreguntasFrecuentes">Preguntas Frecuentes</a></li>
                    </h5>
                    <h5>
                        <li class="nav-item"><a class="nav-link" href="/Contactanos">Contactanos</a></li>
                    </h5>
                    <h5>
                        <li class="nav-item"><a class="nav-link " href="/">Salir</a></li>
                    </h5>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <div class="container">
        <figure class="text-center">
            <blockquote class="blockquote">
                <h3>Vuelos Turquia</h3>
            </blockquote>
        </figure>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha de Vuelo</th>
                    <th scope="col">Hora de Vuelo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Llamado al arreglo donde se guardaron los datos que ingresamos en el formulario -->
                {% for vuelosTurquia in VuelosRealizadosT %}
                <tr>
                    <td>{{vuelosTurquia.nombre}}</td>
                    <td>{{vuelosTurquia.telefono}}</td>
                    <td>{{vuelosTurquia.fecha}}</td>
                    <td>{{vuelosTurquia.hora}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr size="4px" color="red">
    <br>
    <div class="container">
        <figure class="text-center">
            <blockquote class="blockquote">
                <h3>Vuelos Francia</h3>
            </blockquote>
        </figure>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha de Vuelo</th>
                    <th scope="col">Hora de Vuelo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Llamado al arreglo donde se guardaron los datos que ingresamos en el formulario -->
                {% for vuelosFrancia in VuelosRealizadosF %}
                <tr>
                    <td>{{vuelosFrancia.nombre}}</td>
                    <td>{{vuelosFrancia.telefono}}</td>
                    <td>{{vuelosFrancia.fecha}}</td>
                    <td>{{vuelosFrancia.hora}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr size="4px" color="red">
    <br>
    <div class="container">
        <figure class="text-center">
            <blockquote class="blockquote">
                <h3>Vuelos Mexico</h3>
            </blockquote>
        </figure>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha de Vuelo</th>
                    <th scope="col">Hora de Vuelo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Llamado al arreglo donde se guardaron los datos que ingresamos en el formulario -->
                {% for vuelosMexico in VuelosRealizadosM %}
                <tr>
                    <td>{{vuelosMexico.nombre}}</td>
                    <td>{{vuelosMexico.telefono}}</td>
                    <td>{{vuelosMexico.fecha}}</td>
                    <td>{{vuelosMexico.hora}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr size="4px" color="red">
    <br>
    <div class="container">
        <figure class="text-center">
            <blockquote class="blockquote">
                <h3>Vuelos España</h3>
            </blockquote>
        </figure>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha de Vuelo</th>
                    <th scope="col">Hora de Vuelo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Llamado al arreglo donde se guardaron los datos que ingresamos en el formulario -->
                {% for vuelosEspaña in VuelosRealizadosEs %}
                <tr>
                    <td>{{vuelosEspaña.nombre}}</td>
                    <td>{{vuelosEspaña.telefono}}</td>
                    <td>{{vuelosEspaña.fecha}}</td>
                    <td>{{vuelosEspaña.hora}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr size="4px" color="red">
    <br>
    <div class="container">
        <figure class="text-center">
            <blockquote class="blockquote">
                <h3>Vuelos Egipto</h3>
            </blockquote>
        </figure>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha de Vuelo</th>
                    <th scope="col">Hora de Vuelo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Llamado al arreglo donde se guardaron los datos que ingresamos en el formulario -->
                {% for vuelosEgipto in VuelosRealizadosEg %}
                <tr>
                    <td>{{vuelosEgipto.nombre}}</td>
                    <td>{{vuelosEgipto.telefono}}</td>
                    <td>{{vuelosEgipto.fecha}}</td>
                    <td>{{vuelosEgipto.hora}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <hr size="4px" color="red">
    <br>
    <div class="container">
        <figure class="text-center">
            <blockquote class="blockquote">
                <h3>Vuelos Argentina</h3>
            </blockquote>
        </figure>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha de Vuelo</th>
                    <th scope="col">Hora de Vuelo</th>
                </tr>
            </thead>
            <tbody>
                <!-- Llamado al arreglo donde se guardaron los datos que ingresamos en el formulario -->
                {% for vuelosArgentina in VuelosRealizadosA %}
                <tr>
                    <td>{{vuelosArgentina.nombre}}</td>
                    <td>{{vuelosArgentina.telefono}}</td>
                    <td>{{vuelosArgentina.fecha}}</td>
                    <td>{{vuelosArgentina.hora}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br><br>
    <!-- Footer-->
    <footer class="py-4 bg-dark">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">Mega Travel Todos los derechos reservados. Certificado de Registro de Turismo N° PU1001-00001320. LUAE N° 2020WEBLUAE157216</p>
        </div>
    </footer>


</body>

</html>